<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CacheData</key>
	<data>
	AAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAA
	AAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAA
	AAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAQAAAAAAAAAB
	AAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAoAAAAA
	AAAADAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAEKJAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAM2qAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAADj5OEA
	AAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAwtI0qNCEULgEAAAAAAAAA
	AQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAEAAAAAAAAACgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADQ
	BwAAAAAAAAAAAAAAAAAAAQAAAAAAAAAKAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAA
	APoAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAA
	AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAA
	AAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAB
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAA
	AAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAABQAAAAAAAAAAAAAAAAAAAEYBAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AQAAAAAAAAACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAA
	AAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAA
	AAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAACAAAAAAAB
	AAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAKAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMAAAAAAAAA
	+gAAAAAAAAAeAAAAAAAAAAAAAAAAAAAAHgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGQAAAAAAAAA
	AQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAoAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAJScAAAAAAAABAQEB
	AQEBAQEBAQEBAQEBAQEBAQABAQEBAAAAAAAAAAABAAABAQEAAAEAAAEBAQEBAQEBAQEB
	AAEBAQABAQABAAABAAEAAAEBAQEBAQABAQEBAQEBAQEBAQEBAQEBAQEBAQABAQEBAQAB
	AQEBAQEBAQAAAQEBAAAAAQEBAQAAAQEBAQEBAQEBAQABAQEBAQEBAAEBAQABAQEBAQEB
	AQEBAQEBAQEBAQABAQEBAQABAQEAAQEBAQEBAQEBAQABAQEBAQEBAAAAAAEBAQEBAQAB
	AQABAQEBAQEBAQEBAQEBAQEAAQABAQEBAQEBAAABAQAAAAABAQEBAQEBAQEAAAEBAQAB
	AAAAAAAAAAEBAQABAQEAAAAAAAABAAEBAQEBAQABAQEAAAEBAQEBAAABAQEAAQEBAQEB
	AAABAQEBAQEBAQEAAAAAAAEBAQEB
	</data>
	<key>CacheExtra</key>
	<dict>
		<key>+3Uf0Pm5F8Xy7Onyvko0vA</key>
		<string>iPod</string>
		<key>a6vjPkzcRjrsXmniFsm0dg</key>
		<true/>
		<key>/YYygAofPDbhrwToVsXdeA</key>
		<string>N78AP</string>
		<key>1Rm/mWYEI5ttaC0dJ3sHBQ</key>
		<data>
		AAAAAAAAAAA=
		</data>
		<key>4W7X4OWHjri5PGaAGsCWxw</key>
		<integer>41</integer>
		<key>5pYKlGnYYBzGvAlIU8RjEQ</key>
		<string>s5l8942x</string>
		<key>96GRvvjuBKkU4HzNsYcHPA</key>
		<string>12.2.2</string>
		<key>9MZ5AdH43csAUajl/dU+IQ</key>
		<array>
			<integer>1</integer>
		</array>
		<key>9s45ldrCC1WF+7b6C4H2BA</key>
		<string>iPod</string>
		<key>D0cJ8r7U5zve6uA6QbOiLA</key>
		<string>MD717</string>
		<key>DViRIxZ/ZwO007CLcEYvZw</key>
		<string></string>
		<key>IMLaTlxS7ITtwfbRfPYWuA</key>
		<string>A</string>
		<key>JhEU414EIaDvAz8ki5DSqw</key>
		<string>blue</string>
		<key>LeSRsiLoJCMhjn6nd6GWbQ</key>
		<string>iBoot-2817.60.2</string>
		<key>NUYAz1eq3Flzt7ZQxXC/ng</key>
		<real>1</real>
		<key>NaA/zJV7myg2w4YNmSe4yQ</key>
		<string>4334</string>
		<key>QbQzuIbef01P4JeoL9EmKg</key>
		<real>1</real>
		<key>SmUPjD77AHIMCLny9nawdw</key>
		<data>
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
		</data>
		<key>TZ/0j62wM3D0CuRt+Nc/Lw</key>
		<data>
		6INF6+hjH+4A1A7v3d4kkZXmfx4=
		</data>
		<key>Z/dqyWS6OZTRy10UcmUAhw</key>
		<string>iPod touch</string>
		<key>c7fCSBIbX1mFaRoKT5zTIw</key>
		<string>Murata</string>
		<key>emXA9B552rnSoI7xXE91DA</key>
		<real>1</real>
		<key>h63QSdBCiT/z0WU6rdQv6Q</key>
		<string>ZP</string>
		<key>h9jDsbgj7xIVeIQ8S3/X3Q</key>
		<string>iPod5,1</string>
		<key>ivIu8YTDnBSrYv/SN4G8Ag</key>
		<string>iPhone OS</string>
		<key>k7QIBwZJJOVw+Sej/8h8VA</key>
		<string>armv7f</string>
		<key>mZfUC7qo4pURNhyMHZ62RQ</key>
		<string>13G36</string>
		<key>mumHZHMLEfAuTkkd28fHlQ</key>
		<string>white</string>
		<key>nSo8opze5rFk+EdBoR6tBw</key>
		<array>
			<string>CU</string>
			<string>IR</string>
			<string>SD</string>
			<string>SY</string>
			<string>KP</string>
		</array>
		<key>oBbtJ8x+s1q0OkaiocPuog</key>
		<data>
		gAIAAHAEAABGAQAAAAAAQAAAAAAFAAAA
		</data>
		<key>oPeik/9e8lQWMszEjbPzng</key>
		<dict>
			<key>ArtworkDeviceIdiom</key>
			<string>phone</string>
			<key>ArtworkDeviceProductDescription</key>
			<string>iPod touch</string>
			<key>ArtworkDeviceScaleFactor</key>
			<real>2</real>
			<key>ArtworkDeviceSubType</key>
			<integer>568</integer>
			<key>CompatibleDeviceFallback</key>
			<string>0</string>
			<key>DevicePerformanceMemoryClass</key>
			<integer>0</integer>
			<key>GraphicsFeatureSetClass</key>
			<string>GLES2,0</string>
			<key>GraphicsFeatureSetFallbacks</key>
			<string>0</string>
		</dict>
		<key>qNNddlUK+B/YlooNoymwgA</key>
		<string>9.3.5</string>
		<key>rkqlwPcRHwixY4gapPjanw</key>
		<string>iPod touch</string>
		<key>xUHcyT2/HE8oi/4LaOI+Sw</key>
		<string></string>
		<key>zHeENZu+wbg7PUprwNwBWg</key>
		<string>ZP/A</string>
	</dict>
	<key>CacheUUID</key>
	<string>3254FA32-A905-4FEC-A2A1-75CBFAE7D248</string>
	<key>CacheVersion</key>
	<string>13G36</string>
</dict>
</plist>